.inner-section {
    border-radius: 20px;
    height: 90%;
}

.main-section {
    min-width: 100%;
    min-height: 100vh;
}

.login-image {
    height: 722px;
    width: 444px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}