.inner-section {
  border-radius: 20px;
  /* box-shadow: '0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12)'; */
  height: 90%;

}

.main-section {
  min-width: 100%;
  min-height: 100vh;
}

.login-image {
  height: 666px;
  width: 444px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}