.video-background {
    width: 100%;
    height: 100vh;
    object-fit: cover; //Ensure the video covers the entire screen 
    z-index: -1; // Make sure the vidoe stays in the background
}

.slide-to-left {
    right: 6%;
    position: relative;
    overflow: auto;
}

.slider-image-section {
    box-shadow: '0px 0px 12px 11px rgb(0 0 0 / 10%), 0px 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px 0px rgb(0 0 0 / 0%)';
    border-radius: '15px';
    width: '293px' !important;
    height: '391px';
}

.slick-slide>div {
    // margin: 0 10px;
    width: 293px;
    margin: auto;
}

.slick-slide {
    padding: 10px 0px 10px 0px;
}

.slick-slider>.slick-prev,
.slick-slider>.slick-next {
    background: #3e58c6 !important;
    border-radius: 23px !important;
}

.faq-answer {
    height: fit-content;
    animation-duration: 2s;
    animation-name: slide-down;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #cad1e6;
}

@keyframes slide-down {
    0% {
        max-height: 0px;
        opacity: 1;
    }

    100% {
        max-height: 1000px;
        opacity: 1;
    }
}

.signin-signup-link {
    color: white;
}