<div class="whats-new-section" style="top: 50px; transition: top 0.4s; position: sticky;">
    <div>
        <div class="rba_all_pages" id="whatsNewCardContainer" style="max-width: 745px;">
            <div class="card-layout-parent">
                <div class="arrow-icon">
                    <i class="gfg-icon left-arrow-img" disabled="disabled"></i>
                    <i class="gfg-icon right-arrow-img"></i>
                </div>
                <div class="component">
                    <div class="carousel">
                        <div class="new-card-layout">
                            <div class="new-content-wrapper promo-premium-wrapper">
                                <a href="https://www.geeksforgeeks.org/geeksforgeeks-premium-subscription?itm_source=geeksforgeeks&amp;itm_medium=rightbar_course&amp;itm_campaign=premium"
                                    target="_blank">
                                    <img class="premium-promo-rightbar"
                                        src="https://media.geeksforgeeks.org/auth-dashboard-uploads/200x240-AD-02.2-copy.png"
                                        alt="promo" loading="lazy">
                                </a>
                            </div>
                        </div>
                        <div class="new-card-layout">
                            <div class="new-content-wrapper">
                                <a
                                    href="https://www.geeksforgeeks.org/courses/javascript?utm_source=geeksforgeeks&amp;utm_medium=right_sidebar&amp;utm_campaign=course_card">
                                    <div class="new-card-content">
                                        <div class="new-card-thumbnail">
                                            <img src="https://media.geeksforgeeks.org/img-practice/prod/courses/345/Web/Content/javasc_1724254497.webp"
                                                alt="course-img" class="card-image ">
                                        </div>
                                        <div class="card-description-grid">
                                            <div class="grid1">
                                                <div class="grid1-interested">
                                                    <span class="interested-text">62k+ interested Geeks </span>
                                                </div>
                                            </div>
                                            <div class="grid2-div">
                                                <strong class="grid2-description-heading">JavaScript Full Course Online
                                                    | Learn JavaScript with Certification </strong>
                                            </div>
                                            <div class="grid3">
                                                <div class="grid3-course-explore">
                                                    <!-- <img src=https://media.geeksforgeeks.org/img-practice/Levels-1669283463.svg alt="" class="level-symbol"></img>
                                <span class="level-text">Beginner to Advance </span>   -->
                                                    <button class="explore-course">Explore</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="new-card-layout">
                            <div class="new-content-wrapper">
                                <a
                                    href="https://www.geeksforgeeks.org/courses/full-stack-node?utm_source=geeksforgeeks&amp;utm_medium=right_sidebar&amp;utm_campaign=course_card">
                                    <div class="new-card-content">
                                        <div class="new-card-thumbnail">
                                            <img src="https://media.geeksforgeeks.org/img-practice/prod/courses/241/Web/Content/FSRNL_1705410152.webp"
                                                alt="course-img" class="card-image ">
                                        </div>
                                        <div class="card-description-grid">
                                            <div class="grid1">
                                                <div class="grid1-interested">
                                                    <span class="interested-text">295k+ interested Geeks </span>
                                                </div>
                                            </div>
                                            <div class="grid2-div">
                                                <strong class="grid2-description-heading">Full Stack Development with
                                                    React &amp; Node JS - Live </strong>
                                            </div>
                                            <div class="grid3">
                                                <div class="grid3-course-explore">
                                                    <!-- <img src=https://media.geeksforgeeks.org/img-practice/Levels-1669283463.svg alt="" class="level-symbol"></img>
                                <span class="level-text">Beginner to Advance </span>   -->
                                                    <button class="explore-course">Explore</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="new-card-layout">
                            <div class="new-content-wrapper">
                                <a
                                    href="https://www.geeksforgeeks.org/courses/bootstrap?utm_source=geeksforgeeks&amp;utm_medium=right_sidebar&amp;utm_campaign=course_card">
                                    <div class="new-card-content">
                                        <div class="new-card-thumbnail">
                                            <img src="https://media.geeksforgeeks.org/img-practice/prod/courses/439/Web/Content/boot_1723009665.webp"
                                                alt="course-img" class="card-image ">
                                        </div>
                                        <div class="card-description-grid">
                                            <div class="grid1">
                                                <div class="grid1-interested">
                                                    <span class="interested-text">6k+ interested Geeks </span>
                                                </div>
                                            </div>
                                            <div class="grid2-div">
                                                <strong class="grid2-description-heading">Complete Bootstrap Course For
                                                    Beginners [Online] </strong>
                                            </div>
                                            <div class="grid3">
                                                <div class="grid3-course-explore">
                                                    <!-- <img src=https://media.geeksforgeeks.org/img-practice/Levels-1669283463.svg alt="" class="level-symbol"></img>
                                <span class="level-text">Beginners </span>   -->
                                                    <button class="explore-course">Explore</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>